In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
plt.rcParams['font.sans-serif']=['SimHei']
plt.rcParams['axes.unicode_minus']=False

In [11]:
#**1.导入数据集并划分特征值和标签值 (2分)
data = pd.read_csv("Social_Network_Ads.csv")
data['Gender'] = data['Gender'].map({'Male': 0, 'Female': 1})
X = data.drop(columns=['Purchased','User ID'])
y = data["Purchased"]
data = data.sample(frac=1,random_state=42).reset_index(drop=True)
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15697424       1   46            22000          0
1    15609669       1   59            88000          1
2    15776733       1   28            44000          0
3    15724536       1   48            96000          1
4    15699284       1   29            28000          0
..        ...     ...  ...              ...        ...
395  15726358       1   24            27000          0
396  15706185       1   26            35000          0
397  15680752       1   43           133000          0
398  15579212       0   39            77000          0
399  15584545       1   32            86000          0

[400 rows x 5 columns]

In [6]:
#**2.划分测试集和训练集并按照标准差实现特征缩放(3分)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [ ]:
#**3.手动实现逻辑回归算法(至少使用两种梯度下降算法)(5分)

In [ ]:
#**4.并对上一步两种逻辑回归算法设置参数(5分)

In [ ]:
#**5.使用交叉验证实现对模型参数的优化(5分)

In [ ]:
#**6.自主选择使用学习曲线、AUC等模型的可视化 (5分)

In [ ]:
#**7.使用最优模型预测数据集，并打印模型特征权重 (5分)